:root{
    --bg1: burlywood;
    --bg2: rgb(255 ,132 ,0);
    --body: rgb(95, 86, 86);
    --brand: #bfbfbf;
    --white: rgb(235, 235 235);
    --p: rgb(161, 150, 150);
}


#banner {
    min-height: 100vh;
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0.315)), url('https://img.freepik.com/free-photo/beautiful-sunset-lake-with-greenery-coast-amazing-cloudy-sky_181624-3746.jpg?t=st=1711415289~exp=1711418889~hmac=9265ac9632e6fe6466c98b0510fb03d18a57967b108279df3be3771ffa523cde&w=360');
    background-size: cover;
    
}
.btn{
    padding: 15px 30px;
    transition: all 0.4s ease;
    font-weight: 800;
    border-radius: 0;
}

.btn-brand{
    background-color: rgb(255, 132, 0);
}

.btn-brand-hover{
    background-color: transparent;
    color: rgb(146, 127, 255);
    border-color: rgb(42, 165, 132);
}

section{
    padding-top: 100px;
    padding-bottom: 100px;
}

#services{
    background-color: coral;
}
#about{
background-color: chocolate;
}

#reviews{
    background-color: indianred;
}
*{
    font-family: cursive;
}

.icon-img-box{
    width: 40%;
    
}

.card{
    transition: background-color 0.3s, 0.3s;
    
}

.card:hover{
    background-color: burlywood;
}

.card:hover .card-title,
.card:hover .card-text,
.card:hover .btn{
    color: brown;
}

.btn-outlined-brand{
    color: chocolate;
    background-color: rgb(243, 166, 72);
    border-color: rgb(219, 15, 32);
}

.btn-outlined-brand:hover{
    background-color: coral;
}

#cta{
    background: linear-gradient(to right, hsla(0, 2%, 17%, 0.856), rgba(44, 42, 42, 0.315)), url('https://img.freepik.com/free-photo/beautiful-sunset-lake-with-greenery-coast-amazing-cloudy-sky_181624-3746.jpg?t=st=1711415289~exp=1711418889~hmac=9265ac9632e6fe6466c98b0510fb03d18a57967b108279df3be3771ffa523cde&w=360');
    min-height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#reviews {
    background-color: var(--white);
}

.testimonials {
    background-color: var(--bg2);
    padding: 30px;
}

.testimonials img {
    width: 65px;
    border-radius: 100px;
    height: 65px;
}

#reviews a {
    color: var(--brand);
}

.faq-section {
    max-width: 800px;
    margin: auto;
    background-color: #f176e7;
  }

  .faq-item {
    margin-bottom: 20px; /* Add margin bottom for spacing */
    border-radius: 0 !important;
  }

  .faq-question {
    background-color: #f8ad70;
    border: none;
    border-bottom: 1px solid #f87b9a;
    border-radius: 0;
    padding: 15px;
    font-size: 18px;
    font-weight: 500;
    color: #f7816c;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; /* Add transition for smooth hover effect */
  }

  .faq-answer {
    border-left: 3px solid var(--brand);
    padding: 10px 15px;
    margin-left: 0;
    background-color: #f57692;
  }

  .faq-answer p {
    margin-bottom: 0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color:#f39b60;
  }

  /* Hover effect for FAQ questions */
  .faq-question:hover {
    background-color: #f57692; /* Change background color on hover */
    color: var(--bg1); /* Change text color on hover */
  }

  /* Adjust accordion icon */
  .accordion-button::after {
    font-family: "Font Awesome 5 Free";
    content: ""; /* Plus icon */
    float: right;
    font-weight: 900;
    margin-left: auto;
  }

  .accordion-button[aria-expanded="true"]::after {
    content: ""; /* Minus icon */
    
  }

  #footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: coral;
}

#footer ul.list-unstyled li a {
    color: #f89797;
}

#footer ul.list-unstyled li:hover a {
    color: chocolate;
}

#reviews h2, #services h2 {
    color: #f89797;
}

.btn-outline-light {
    border-color: #f39b60 !important;
    color: #f176e7;
}

#footer h5 {
    color:#f8bcf3;
    margin-bottom: 15px;
}


@media only screen and (max-width: 767px) {
    h1 , h2 {
        font-size: 45px;
        text-align: center;
    }
    #banner p {
        text-align: center;

    }
    .btn {
        font-size: 14px !important;
        padding: 18px 0px;
        width: 180px;
    }
    section {
        padding: 60px 10px;
    }

    #about h3, #about p {
        text-align: center;
    }

   .card {
    margin-bottom: 30px;
   }

   #cta h2 , #cta2 h2{
    font-size: 35px;
   }

   #about:after {
    display: none;
   }

   #footer {
    padding: 50px 20px;
   }

   #about img {
    height: 350px;
    width: 100%;
    background-size: cover;
   }

    
}